 @font-face { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'),
         url('../fonts/raleway-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color:#757575;
    margin-left: 15px;
    margin-right: 15px;
    }
    
    .container {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    }

    .our-team {
    background-color: #AFB1B8;
    width: 1620px;
    }
    

    /* оформление шапки */

    .navigation {
    display: block;
    display: flex;
    align-items: center;

    }

    .navigation-list{
    display: flex;
    }

    .navigation-list-item:not(:last-child)
    {margin-right: 50px;}

    .header-navigation{
      display: flex;  
      align-items: center;
      justify-content:space-between ;
      
      }

    .header-utils {
    margin-left: auto;
    display: flex;
    }
    .auth-nav {
      display: flex;
    }

    .auth-nav .navigation-list-item + .navigation-list-item {
      margin-left: 30px;
    }



    .navigation-list-item
    {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;  
    color: #212121;
  
    }
    

 

    .link {text-decoration: none;}
    .list {list-style: none;}
    
    .logo
    {
    margin-right: 85px;  
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em; 
    color: #212121;
    padding-top: 24px;
    padding-bottom: 24px;
    }
    .logo-blue
    {color: #2196F3}
    


    .navigation-list-link:hover,
    .navigation-list-link:focus,
    .header-mail-link:hover,
    .header-mail-link:focus,
    .header-tel-link:hover,
    .header-tel-link:focus
    {color: #2196F3}
    
    .navigation-list-link
    {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px}
    
    
    
    .header-mail-link, 
    .header-tel-link
    {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em; 
    color: #757575 }
    .header-address-list:not(:last-child)
    {margin-right: 50px;
    }
    
   
    /* оформлени героя */

    .hero{
      text-align: center;
      background-color: #2F303A;
      height: 600px;
      width: 1630px;
      margin-bottom:95px;
      
    }
    
    .hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 200px; 
    padding-bottom: 40px; 
    
    }
    
    .hero-title-button
    {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: #ffffff;
    border-radius: 4px;
    border-color:#2196F3;
    }
    .hero .container {
      margin-bottom: 110px;
    }


    /*для всех h2*/
    .main-title{ 
        font-weight: bold;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 60px;
      }

        
        
    
    
     /* оформлени наши преимущества */ 
    
    .about-us-title-list {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 15px;
    }
    .subtitle
    {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;   
    letter-spacing: 0.03em;
    }

    .about-us .container  {
    padding: 0px;
    margin-bottom: 94px;
    display: inline-block;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }


    .about-us .container:not(:last-child)
    {margin-right: 30px;
    }
    
    /* оформлени чем занимаемся */
    .services {
    display: inline-block;
    display: flex;
    text-align: center;
    margin-bottom: 95px;
      
    align-items: center;
    justify-content:space-between ;
    
    }

    .services .main-title {
      margin-bottom: 50px;
    }


    .services-list {
      display: flex;
     
    }

    .services-box:not(:last-child)
    {margin-right: 30px;
      
    }
    
    .services .container{
    display: flex;
    flex-wrap: wrap;
    min-width: 370px;
    justify-content:space-between;
    padding: 0px;
    display: inline-block;
    }

    .services-title
    {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #FFFFFF; 
    padding: 27px;
    background-color: #2F303A;
    }
     .services-list .container {
      width: 370px;
      height: 1,26px;
     }
    

    /* оформлени наша команда */
   
    .social-list {
      display: flex;
      text-align: center;
  
    }
 
     .our-team-box {
       background-color: #FFFFFF;
       width: 270px;
       height: 422px;
       box-sizing: border-box;
     }
      
     .names-team
      {
      font-weight: 500;
      color: #212121;
      padding-top: 20px;
      padding-left: 56px; 
      padding-right: 56px;
      padding-bottom: 10px;
       
    }

    .our-team-box:not(:last-child)
    {margin-right: 30px;
    }
     
    .our-team-box-profession {
      padding-bottom: 85px;
      
    }

    .our-team .container {
      margin-bottom: 95px;
    } 

    .our-team {
    background-color: #F5F4FA;
    display: flex;
    text-align: center;
    width: 1630px;
    padding-top: 105px;
      }

    .our-team-profession,
    .names-team
    {
    font-size: 16px;
    line-height: 1.19;  
    letter-spacing: 0.03em; 
    color: #757575; 
    }

    /* оформлени постоянные клиенты */
    

    .main-title {
    padding-top: 20px;
    }
    
    .our-clients {
      display: flex;
      text-align: center;
      margin-bottom: 95px; 
    }
    .our-clients-logo:not(:last-child)
    {margin-right: 30px;}
    

    
    /* оформлени контактная инфо */

    .footer {
      width: 1630px;
      height: 262px;
      background-color: #2F303A;
      padding-top: 60px; 
    }

    .footer.container{
      width: 280px;
      margin-right: 44px;
    }


    .invitation {
      text-align: center;
      
    }
    
    .contacts-logo
    {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;   
    color: #FFFFFF;

    padding-top: 60px;
    }
    
    .contacts-logo-blue
    {
    color: #2196F3
    }
    
    .address
    {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;   
    color: #FFFFFF;
    }
    
    .contacts-list-item
    {
    font-size: 14px;
    line-height: 24px;   
    letter-spacing: 0.03em;  
    color: rgba(255, 255, 255, 0.6);

    padding-bottom: 9px;
    }
    
    .contacts-list {
      width: 231px;
      margin: 0px;
      padding-top: 20px;
  
      
    }
    
    .footer-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }
    
    
    /* оформлени портфолио фильтр */
    
  

    .filtr-list-button
    {
    height: 38px;
    min-width: 30px;
    padding-left: 27px;
    padding-right: 22px;
    
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    }
    
    .filtr {
      display: inline-block;
      margin-left: 494px;
      margin-right: 494px;
      margin-bottom: 50px;
      display: flex;
    }


    .filtr-list-button:hover,
    .filtr-list-button:focus
    {color: #FFFFFF;
    background-color:#2196F3
    }
    
    .galery-list 
    {
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
    }

    .galery-title
    {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    }
    
    .galery-subtitle 
    {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575; }
    
    .galery-list-first
    {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;  
    color: #FFFFFF;
    background-color:#2196F3;
    width: 322px;
    height: 168px;
    left: 254px;
    top: 316px;
    }
    
    .galery {
    display: flex;
    flex-wrap: wrap;
 
    }

    .galery:nth-child(3n)
    {margin-right: 0px;}

    .galery { margin-right: 30}

    .galery-list {
    width: 380px;
    height: 404px;
    }
    /*
    
    


    /*outline: 1px solid tomato ;*/
    
    
    
    /*  .about-us .container  {
    padding: 0px;
    margin-bottom: 94px;
    display: inline-block;
    display: flex;
    }      центрирование  */